<section class="container mx-auto profile-section">
  <div *ngIf="this.imageUrl; else displayInitials" class="profile-img-wrapper">
    <img
      [src]="imageUrl"
      class="rounded-circle"
      [alt]="initials"
      height="100"
      width="100"
      referrerpolicy="no-referrer"
    />
  </div>
  <ng-template #displayInitials>
    <div class="profile-img-wrapper">
      <div class="avatar">
        {{ this.initials }}
      </div>
    </div>
  </ng-template>
  <div class="col-lg-12 text-center">
    <h3>Hi! {{ name }}</h3>
    <p>Welcome to Spring Social!</p>
    <button type="button" class="btn btn-dark" (click)="logout()">
      Logout
      <span><fa-icon [icon]="faSignOut"></fa-icon></span>
    </button>
  </div>
</section>
